* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1.15;
}
ul {
  list-style: none;
}
.App {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1920px;
}
.act_link {
  text-decoration: none;
  color: #4a90e2;
}
.grid {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.content {
  max-width: 1140px;
  margin: 0 auto;
}
.calculate_price_form {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.calculate_price_sections {
  width: 70%;
  padding-top: 55px;
}


